@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --secondary-color: #333333a1;
  --accent-color: #48ade2;
  --trenary-color: #efefef;
  --grid-columns: 10% 80% 10%;
  --border-15: 15px;
}

.d-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-justify-self-center {
  align-self: center;
  justify-self: center;
}

.landingPageContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: var(--grid-columns);
}

.menuBtnContainer {
  margin: 4vh;
  grid-area: 1/1 / span 1 / span 1;
  position: fixed;
  z-index: 100;
  transform-origin: 50% 50%;
}

.menuBtnContainer.clicked {
  animation: rotateButton 0.3s linear forwards 1;
}

.menuBtnContainer.unclicked {
  animation: rotateButtonBack 0.3s linear forwards 1;
}

@keyframes rotateButton {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateButtonBack {
  100% {
    transform: rotate(-360deg);
  }
}

.dash {
  width: 40px;
  background-color: var(--secondary-color);
  height: 5px;
  border-radius: var(--border-15);
  margin: 1vh;
}

.welcomeMessage {
  grid-area: 1/1 / span 3 / span 3;
}

.catWithGlassses {
  grid-area: 3/ 3 / span 1 / span 1;
  justify-self: flex-end;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1;
  z-index: 1000;
}

.catImage {
  grid-area: 1/ 1 / span 1 / span 1;
  width: 25vw;
  transform: rotate(-90deg);
  object-fit: contain;
}

.glassess {
  grid-area: 1/ 1 / span 1 / span 1;
  width: 12vw;
  transform: rotate(-90deg);
  animation: glassesOn 1s ease-in-out forwards 1;
}

@keyframes glassesOn {
  0% {
    transform: translateY(-100vh) rotate(-180deg);
  }
}

h1 {
  font-size: 5.5vh;
  text-align: center;
  background: linear-gradient(
    to left,
    black 20%,
    var(--accent-color) 10%,
    var(--accent-color) 10%,
    black 80%
  );
  background-size: 200% auto;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.5s 1.5s linear 1 forwards;
}

@keyframes shine {
  to {
    background-position: -230% center;
  }
}

.welcomeMessage > h4 {
  color: var(--secondary-color);
  font-size: 1.5vh;
}

.openMenuWindow {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 80;
}

h2 {
  font-size: 3vh;
  margin: 3vh;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.slideUpAnimation {
  animation: slideUp 0.5s linear forwards 1;
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }
}

.slideDownAnimation {
  animation: slideDown 0.5s linear forwards 1;
}

@keyframes slideDown {
  100% {
    transform: translateY(-100vh);
  }
}

.dash:first-child.clicked {
  transform: rotate(-45deg) translateX(-10px);
}

.dash:nth-child(3).clicked {
  transform: rotate(45deg) translateX(-10px);
}

.dash:nth-child(2).clicked {
  display: none;
}

.projectsPageContainer,
.aboutMePageContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: 15% 10% auto;
  background-color: var(--trenary-color);
}

.projectsPageContainer h2,
.aboutMePageContainer h2 {
  grid-area: 1/2 / span 1 / span 1;
  align-self: flex-end;
  justify-self: center;
}

.projectsFilters {
  grid-area: 2/2 / span 1 / span 1;
}

input:nth-child(2),
input:nth-child(3) {
  margin: 0 0.5vw 0 3vw;
}

.projects {
  display: grid;
  grid-area: 3/2 / span 1 / span 1;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
}

.project {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsCardFront {
  background-image: url(./images/photos/project-images/chad.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  background-color: white;
}

.projectsCard {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.projectsCard:hover {
  transform: rotateY(180deg);
}

.cardBackandFront {
  height: 300px;
  width: 250px;
  box-shadow: 1px 1px 1px 1px var(--accent-color);
  backface-visibility: hidden;
  border-radius: var(--border-15);
  margin: 0 0 2vh 0;
}

.backOftheCard {
  background-color: var(--accent-color);
  transform: rotateY(180deg);
  position: absolute;
}

.typeOfProject {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.projectsName {
  margin: 1vh 0;
}

.linkIcon {
  width: 2vh;
}

a.d-flex-centered {
  color: var(--secondary-color);
  text-decoration: none;
}

.d-flex-centered h4 {
  margin: 0 1vh;
}

/* ABOUT ME */
.aboutMePageContainer {
  background-color: white;
  grid-auto-rows: max-content;
}

.infoAboutMe {
  grid-area: 3/2 / span 1 / span 1;
  display: flex;
}

.infoAboutMe img {
  width: 40%;
  object-fit: contain;
  margin-top: auto;
}

ul {
  list-style: none;
}

.factsAboutMe li {
  font-size: 1.5vw;
  color: white;
  background-color: black;
  padding: 0.4vw;
  margin: 3vw 0;
  width: fit-content;
}

.factsAboutMe li:nth-child(even) {
  margin: 2.5vw 15vw;
}

.factsAboutMe li:nth-child(odd) {
  margin: 4vw 3vw;
}

.factsAboutMe li:first-child {
  margin: 0;
}

footer {
  grid-area: 4/1 / span 1 / span 3;
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: max-content;
  background-color: var(--secondary-color);
  height: max-content;
  margin-top: auto;
  height: 15vh;
}

footer h4 {
  color: white;
  grid-area: 2/2 / span 1 / span 1;
}

.icons {
  grid-area: 1/2 / span 1 / span 1;
  margin: 2vh 0 1vh 0;
}
