@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

:root {
  --secondary-color: #6e6e75c4;
  --accent-color: #48ade2;
}

.landingPageContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr
}

.menuBtnContainer {
  margin: 4vh;
  grid-area: 1/1/ span 1/ span 1;
  position: fixed;
  z-index: 100;
}

.dash {
  width: 40px;
  background-color: var(--secondary-color);
  height: 5px;
  border-radius: 15px;
  margin: 1vh;
}

.welcomeMessage {
  grid-area: 1/1/ span 3/ span 3;
  align-self: center;
  justify-self: center;
}

.catWithGlassses {
  grid-area: 3/ 3/ span 1/ span 1;
  justify-self: flex-end;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1;
  z-index: 100;
}

.catImage {
  grid-area: 1/ 1/ span 1/ span 1;
  width: 25vw;
  transform: rotate(-90deg);
  object-fit: contain;
}

.glassess {
  grid-area: 1/ 1/ span 1/ span 1;
  width: 12vw;
  transform: rotate(-90deg);
  align-self: center;
  justify-self: center;
  animation: glassesOn 1s ease-in-out forwards 1;
}

@keyframes glassesOn {
  0% {
    transform: translateY(-100vh) rotate(-180deg);
  }
}


h1 {
  font-size: 5.5vh;
}


h1 {
  text-align: center;
  background: linear-gradient(to left, black 20%, var(----accent-color) 10%, var(----accent-color) 10%, black 80%);
  background-size: 200% auto;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.5s 1.5s linear 1 forwards;
}


@keyframes shine {
  to {
    background-position: -230% center;
  }
}

.welcomeMessage>h4 {
  color: var(--secondary-color);
  font-size: 1.5vh;

}

.menuListContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 3vh;
  margin: 3vh;
}